body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;

  --bg-base-100: #fff;
  --bg-base-200: #f9fafb;
  --bg-base-300: #ced3d9;
  --bg-base-content: #1e2734;
  --bg-neutral: #3b424e;
  --bg-neutral-content: #fff;

  color: var(--bg-base-content);
  background-color: var(--bg-base-100);
}

.icon {
  font-family: 'Material Icons';
}

button {
  color: var(--bg-base-content);
  background-color: var(--bg-base-300);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

button:disabled {
  opacity: 0.5;
}

button.icon {
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  border: none;
  color: inherit;
  background: none;
  padding: 0.2rem;
}

button.icon:not(:disabled) {
  cursor: pointer;
}

input {
  border: 1px solid var(--bg-base-300);
  background-color: var(--bg-base-100);
  border-radius: 2px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font: inherit;
}
