body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: lighter;
  font-size: 1rem;
  margin: 1rem 0;
}

.icon {
  font-family: 'Material Icons';
}

button {
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: inherit;
  padding: 0.2rem;
}

button:not(:disabled) {
  cursor: pointer;
}

input {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 2px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

input:disabled {
  background-color: #f6f6f6;
}
